MoreNodeRed/Source/LEDBlinker.json
[{"id":"f35d902f.61b53","type":"tab","label":"LED Blink Flow","disabled":false,"info":""},{"id":"2b214ad1.e66d8e","type":"inject","z":"f35d902f.61b53","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":100,"y":320,"wires":[["ad3d06c5.e3bea"]]},{"id":"3f3f3373.8b893c","type":"arduino out","z":"f35d902f.61b53","name":"Yellow","pin":"8","state":"OUTPUT","arduino":"b0e4aecb.a89ea","x":710,"y":320,"wires":[]},{"id":"32194f55.1a9ce","type":"function","z":"f35d902f.61b53","name":"Toggle output on input","func":"if(msg.payload){\n    context.set('level',0);\n    return [\n        {payload: false},\n        {payload: false},\n        {payload: false}\n        ];\n}\ncontext.set('level',(context.get('level') || 0)+1);\nif(context.get('level')>3){\n    context.set('level',1);\n}\nconst currentlevel = context.get('level');\nreturn[\n    {payload: currentlevel==1},\n    {payload: currentlevel==2},\n    {payload: currentlevel==3}\n    ];\n// var five = context.global.jfive;\n// var color = context.get('led') || \"Red\";\n\n// if(color == \"Red\"){\n//     var led = new five.Led(13);\n// led.blink(500);\n// }\n// else if(color == \"Yellow\"){\n//      context.set('led',\"Green\")\n//     var led = new five.Led(8);\n// led.blink(500);\n// }\n// else{\n//      var led = new five.Led(2);\n// led.blink(500);\n//     context.set('led',\"Red\")\n//     context.level = !context.level || false;\n// }\n\n// var led = new five.Led(13);\n// led.blink(500);\n\n\n// // var color = context.get('led') || \"Red\";\n// // var off = msg.payload;\n// // console.log(color);\n\n// // // set the payload to the level and return\n\n// // if(off == \"Off\"){\n// //   context.level = false;\n// //   msg.led=\" \";\n// // }\n// // else{\n// // msg.led = color;\n// // if(color == \"Red\"){\n// //     context.set('led',\"Yellow\")\n// //     context.level = !context.level || false;\n// // }\n// // else if(color == \"Yellow\"){\n// //     context.set('led',\"Green\")\n// //     context.level = !context.level || false;\n// // }\n// // else{\n// //     context.set('led',\"Red\")\n// //     context.level = !context.level || false;\n// // }\n// // }\n// msg.payload = context.level;\n// return msg;","outputs":3,"noerr":0,"x":460,"y":320,"wires":[["2f7a263.eaa98da"],["3f3f3373.8b893c"],["7f3d758e.d79efc"]]},{"id":"2f7a263.eaa98da","type":"arduino out","z":"f35d902f.61b53","name":"Red","pin":"13","state":"OUTPUT","arduino":"b0e4aecb.a89ea","x":710,"y":180,"wires":[]},{"id":"7f3d758e.d79efc","type":"arduino out","z":"f35d902f.61b53","name":"Green","pin":"2","state":"OUTPUT","arduino":"b0e4aecb.a89ea","x":710,"y":420,"wires":[]},{"id":"ad3d06c5.e3bea","type":"ui_switch","z":"f35d902f.61b53","name":"","label":"switch","tooltip":"","group":"ec0fd826.510d98","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":320,"wires":[["32194f55.1a9ce"]]}]