MoreNodeRed/Source/TempConversionFlow.json
[{"id":"49c406cf.3f62f","type":"tab","label":"Temp Conversion Flow","disabled":false,"info":""},{"id":"a99cb3b2.aba6e8","type":"function","z":"49c406cf.3f62f","name":"celcius to farenheit","func":"var weather = msg.payload.tempc;\nweather = (weather * 9)/5 + 32;\nmsg.payload = weather;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["272ebd2c.5e8d8a"]]},{"id":"4fd50e30.16d358","type":"openweathermap","z":"49c406cf.3f62f","name":"","wtype":"current","lon":"","lat":"","city":"Lenexa","country":"US","language":"en","x":270,"y":140,"wires":[["a99cb3b2.aba6e8"]]},{"id":"6e3e5b85.013b04","type":"inject","z":"49c406cf.3f62f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["4fd50e30.16d358"]]},{"id":"272ebd2c.5e8d8a","type":"debug","z":"49c406cf.3f62f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":140,"wires":[]}]