Module1/ICP6/Source/flows-3.json
[{"id":"60c27a90.dc969c","type":"tab","label":"Change Node","disabled":false,"info":""},{"id":"a79697ae.01b34","type":"debug","z":"60c27a90.dc969c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":240,"wires":[]},{"id":"d3baf26a.1adfb","type":"inject","z":"60c27a90.dc969c","name":"hello","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["de4406d3.f78b5"]]},{"id":"513b7fcf.2ab1d","type":"change","z":"60c27a90.dc969c","name":"ChangeNodeDemo","rules":[{"t":"change","p":"payload","pt":"msg","from":"hello","fromt":"str","to":"how are you","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":160,"wires":[["a79697ae.01b34"]]},{"id":"de4406d3.f78b5","type":"function","z":"60c27a90.dc969c","name":"RandomNum","func":"rnd = Math.round (Math.random() * 100);\nmsg.payload = rnd;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["9fab2c3e.5c0408"]]},{"id":"9fab2c3e.5c0408","type":"switch","z":"60c27a90.dc969c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"str"},{"t":"lt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":280,"wires":[["57f5fd9f.b053ec"],["e3337d60.bf20e8"]]},{"id":"57f5fd9f.b053ec","type":"function","z":"60c27a90.dc969c","name":"Message1","func":"msg.payload = \"hello\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["513b7fcf.2ab1d"]]},{"id":"e3337d60.bf20e8","type":"function","z":"60c27a90.dc969c","name":"Message2","func":"msg.payload = \"good\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":380,"wires":[["eca38b8a.fb0208"]]},{"id":"eca38b8a.fb0208","type":"change","z":"60c27a90.dc969c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"good","fromt":"str","to":"me too","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":280,"wires":[["a79697ae.01b34"]]}]