Module1/ICP6/Source/flows.json
[{"id":"a2e27981.be246","type":"tab","label":"Range Node","disabled":false,"info":""},{"id":"bfda7991.1b0c1","type":"range","z":"a2e27981.be246","minin":"0","maxin":"1024","minout":"0","maxout":"5","action":"scale","round":false,"property":"payload","name":"0 - 5","x":310,"y":300,"wires":[["d6bd0c4a.86a9c"]]},{"id":"5cb1c56e.a4c664","type":"inject","z":"a2e27981.be246","name":"300","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["bfda7991.1b0c1"]]},{"id":"3ee8bcda.c25524","type":"inject","z":"a2e27981.be246","name":"512","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["bfda7991.1b0c1"]]},{"id":"abb3b7fb.4f0de8","type":"inject","z":"a2e27981.be246","name":"1023","topic":"","payload":"1023","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["bfda7991.1b0c1"]]},{"id":"fb741592.9f1a58","type":"debug","z":"a2e27981.be246","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":460,"wires":[]},{"id":"d6bd0c4a.86a9c","type":"rbe","z":"a2e27981.be246","name":"","func":"deadband","gap":"20%","start":"","inout":"out","property":"payload","x":400,"y":400,"wires":[["fb741592.9f1a58"]]}]