NodeRedFLows/Source/flows-2.json
[{"id":"1b144cee.b6d6fb","type":"tab","label":"RBE Node","disabled":false,"info":""},{"id":"6f3b1aaa.2ce07c","type":"range","z":"1b144cee.b6d6fb","minin":"0","maxin":"1024","minout":"0","maxout":"5","action":"scale","round":false,"property":"payload","name":"0 - 5","x":310,"y":300,"wires":[["18b16d78.ffcd93"]]},{"id":"2bece98a.c1c8d6","type":"inject","z":"1b144cee.b6d6fb","name":"300","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["6f3b1aaa.2ce07c"]]},{"id":"696dc184.3ee7c","type":"inject","z":"1b144cee.b6d6fb","name":"512","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["6f3b1aaa.2ce07c"]]},{"id":"f8b80744.fe2478","type":"inject","z":"1b144cee.b6d6fb","name":"1023","topic":"","payload":"1023","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["6f3b1aaa.2ce07c"]]},{"id":"2fd64f27.30a4a","type":"debug","z":"1b144cee.b6d6fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":400,"wires":[]},{"id":"18b16d78.ffcd93","type":"rbe","z":"1b144cee.b6d6fb","name":"","func":"deadband","gap":"20%","start":"","inout":"out","property":"payload","x":400,"y":400,"wires":[["2fd64f27.30a4a"]]}]