NodeRedFLows/Source/flows-4.json
[{"id":"c087102d.fa7238","type":"tab","label":"Switch Node","disabled":false,"info":""},{"id":"25645781.32aef8","type":"switch","z":"c087102d.fa7238","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"},{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":280,"wires":[["2e363132.b0dc26"],["418aef5d.f06668"]]},{"id":"d6fe4837.c50e08","type":"inject","z":"c087102d.fa7238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":40,"wires":[["fc9d7b0b.a2e1f"]]},{"id":"fc9d7b0b.a2e1f","type":"function","z":"c087102d.fa7238","name":"RandomNumberGen","func":"rnd = Math.round (Math.random() * 100);\nmsg.payload = rnd;\nmsg.payload3 = rnd;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":120,"wires":[["25645781.32aef8"]]},{"id":"2e363132.b0dc26","type":"debug","z":"c087102d.fa7238","name":"greather than 50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":240,"wires":[]},{"id":"418aef5d.f06668","type":"debug","z":"c087102d.fa7238","name":"less than 50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":320,"wires":[]}]