Module1/ICP5/Source/flows1.json
[{"id":"e93be2d1.9adb6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"74fb227.1122e5c","type":"debug","z":"e93be2d1.9adb6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":60,"wires":[]},{"id":"71a6a186.b221a8","type":"inject","z":"e93be2d1.9adb6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["8a400859.ddf4c8"]]},{"id":"f6a8d512.d24b18","type":"function","z":"e93be2d1.9adb6","name":"TweetAndMessage","func":"var weather = msg.payload.description;\nmsg.payload = weather;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["74fb227.1122e5c","3bc4e4a7.35f1ec","eb30b2c3.f4718"]]},{"id":"3bc4e4a7.35f1ec","type":"e-mail","z":"e93be2d1.9adb6","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"anthonyvyos@gmail.com","dname":"","x":690,"y":180,"wires":[]},{"id":"8a400859.ddf4c8","type":"openweathermap","z":"e93be2d1.9adb6","name":"","wtype":"current","lon":"","lat":"","city":"Kansas","country":"USA","language":"en","x":270,"y":120,"wires":[["f6a8d512.d24b18"]]},{"id":"eb30b2c3.f4718","type":"twitter out","z":"e93be2d1.9adb6","twitter":"","name":"Tweet","x":650,"y":120,"wires":[]}]