Module1/ICP7/Source/LowercaseFlow.json
[{"id":"c8f748b9.6e7bc","type":"tab","label":"Lowercase Flow","disabled":false,"info":""},{"id":"d102a199.5fb398","type":"lower-case","z":"c8f748b9.6e7bc","name":"","x":380,"y":80,"wires":[["d0036add.8425e8"]]},{"id":"c8305b2e.8e667","type":"inject","z":"c8f748b9.6e7bc","name":"","topic":"","payload":"ANTHONY","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":214,"y":93,"wires":[["d102a199.5fb398"]]},{"id":"d0036add.8425e8","type":"debug","z":"c8f748b9.6e7bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":80,"wires":[]}]